Q1.  Explain with an example each when to use a for loop and a while loop.

In [ ]:
Ans1.  We may use "For loop" when we iâ€™ll have to run any  command with condition for many times.
For e.g. Lets  suppose , we have a list (L) and we have to saprate all element particularly if we use L[]  function to extract element from
list (L)
we i'll have to run this function one by one for many times.it will be consume our large ammount of time, if we use "For loop" so 
we didn't need to run any code one by one . 

While loop = We may use "While loop" when we i'll have to run any command repeatatively untill the given condition become False.

In [1]:
#for loop like this - 
L = [1,2,3,4,5,6,7,8]
for i in L :
    print(i)

1
2
3
4
5
6
7
8

In [1]:
  #while loop like this-
i = 1
while i <= 10:
    print(i)
    i += 1
# Answer 1 completed

1
2
3
4
5
6
7
8
9
10

Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for  and while loop.

In [ ]:
# Answer 2
sum = 0
product = 1 
for i in range(1,11):
    sum = sum + i
    product = product *  i
print("Using for loop :")
print("Sum of 10 Natural no is: ",sum)
print("Product of 10 Natural no is:", product)

In [2]:
sum = 0 
product = 1
i = 1
while i <= 10 :
    sum = sum + i
    product = product * i
    i += 1
print("Using while loop")
print("Sum of 10 natural number is :", sum )
print("Product of 10 number is :" , product )
# Answer 2 completed

Using while loop
Sum of 10 natural number is : 55
Product of 10 number is : 3628800

  
Q3. Create a python program to compute the electricity bill for a household. 
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per  unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will  be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit. 
You are required to take the units of electricity consumed in a month from the user as input. 
Your program must pass this test case: when the unit of electricity consumed by the user in a month is  310, the total electricity bill should be 2250.

In [18]:
# Answer 3 
unit_consumed = int(input("Please input number of units "))
if unit_consumed <= 100:
    bill_Generates_Money = unit_consumed * 4.5 
elif unit_consumed <=200:
    bill_Generates_Money = 100*4.5+( unit_consumed -100)* 6 
elif unit_consumed <=200:
    bill_Generates_Money = 100*4.5+100*6+(unit_consumed - 200)* 10 
else:
    bill_Generates_Money = 100*4.5+100*6+100*10+(unit_consumed - 300 ) * 20
print("Your Electricity Bill Ammount for this month:",bill_Generates_Money)

Please input number of units  310

Your Electricity Bill Ammount for this month: 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list.

In [ ]:
# Answer 4
l = [] 
m = []
for i in range(1,100):
        if i % 4 == 0 or i %5==0 :
            l.append(i)
            m.append(i)
            
            print(i**3)
l

64
125
512
1000
1728
3375
4096
8000
13824
15625
21952
27000
32768
42875
46656
64000
85184
91125
110592
125000
140608
166375
175616
216000
262144
274625
314432
343000
373248
421875
438976
512000
592704
614125
681472
729000
778688
857375
884736

[4,
 5,
 8,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96]

In [25]:
m # Answer 4 completed

[4,
 5,
 8,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96]

Q5.  Write a program to filter count vowels in the below-given string. 
string = " I want to become a data scientist "

In [7]:
# Answer 5 
string = " I want to become a data scientist "
vowels = "aeiouAEIOU"
count = 0 
for char in string:
    if char in vowels:
        count+=1
        print(char)
print("Total numbers in the string:", count)
# Answer 5 is completed

I
a
o
e
o
e
a
a
a
i
e
i
Total numbers in the string: 12

In [5]:
N = 6
 
# using reversed() to perform the back iteration
print ("The reversed numbers are : ", end = "")
for num in reversed(range(N + 1)) :
    print(num, end = " ")

The reversed numbers are : 6 5 4 3 2 1 0